In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import scipy
from tqdm import tqdm
from tabulate import tabulate
pd.options.display.expand_frame_repr = False

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv('../data/Close_correct.csv', index_col='date')
data.index = data.index.astype('datetime64').rename('date')
data.head()

                 0       1       2      3       4       5      6       7       8       9  ...    2426   2427    2428    2429   2430    2431    2432    2433    2434    2435
date                                                                                      ...
2010-01-04  20.225  22.355  9.3094  10.20  3.4959   9.955  26.66  11.898  9.4832  16.594  ...  2.9896  21.90  19.270  12.832  17.76  7.7942  33.864  18.690  303.66  12.231
2010-01-05  20.858  22.589  9.1551  10.25  3.4577  10.022  26.57  11.954  9.5110  16.765  ...  3.0673  20.91  19.466  13.234  17.88  7.8400  34.744  18.780  301.20  12.305
2010-01-06  20.612  22.637  9.0008  10.05  3.3339  10.217  26.92  11.594  9.5150  16.779  ...  3.0390  20.80  19.570  13.442  16.68  7.8477  35.070  18.890  302.01  12.395
2010-01-07  20.683  22.269  9.0205  10.40  3.5341  10.115  26.50  11.695  9.7720  16.454  ...  3.2582  21.65  19.613  13.120  17.52  7.8707  34.599  19.175  292.72  12.345
2010-01-08  21.085  22.192  8.9584  11.35  3.4197  10.149  26.19  11.485  9.8060  16.779  ...  3.2016  21.25  19.570  13.106  17.52  7.8785  34.813  19.474  296.55  12.435

[5 rows x 2436 columns]

In [4]:
data_returns = pd.read_csv('../data/data_returns.csv', index_col='date')
data_returns.index = data_returns.index.astype('datetime64').rename('date')
data_returns.head()

                   0         1         2         3         4         5         6         7         8         9  ...      2426      2427      2428      2429      2430      2431      2432      2433      2434      2435
date                                                                                                            ...
2010-01-04       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  ...       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN
2010-01-05  0.031298  0.010467 -0.016575  0.004902 -0.010927  0.006730 -0.003376  0.004707  0.002931  0.010305  ...  0.025990 -0.045205  0.010171  0.031328  0.006757  0.005876  0.025986  0.004815 -0.008101  0.006050
2010-01-06 -0.011794  0.002125 -0.016854 -0.019512 -0.035804  0.019457  0.013173 -0.030115  0.000421  0.000835  ... -0.009226 -0.005261  0.005343  0.015717 -0.067114  0.000982  0.009383  0.005857  0.002689  0.007314
2010-01-07  0.003445 -0.016257  0.002189  0.034826  0.060050 -0.009983 -0.015602  0.008711  0.027010 -0.019369  ...  0.072129  0.040865  0.002197 -0.023955  0.050360  0.002931 -0.013430  0.015087 -0.030761 -0.004034
2010-01-08  0.019436 -0.003458 -0.006884  0.091346 -0.032370  0.003361 -0.011698 -0.017956  0.003479  0.019752  ... -0.017372 -0.018476 -0.002192 -0.001067  0.000000  0.000991  0.006185  0.015593  0.013084  0.007290

[5 rows x 2436 columns]

In [5]:
# numpy
def neutralize(alpha):
    return alpha - np.mean(alpha)

In [6]:
def normalize(alpha):
    return alpha / np.sum(np.abs(alpha))

In [7]:
def truncate(alpha, max_weight, coef):
    signs = (alpha / np.abs(alpha))
    alpha[np.abs(alpha) > max_weight * coef] = max_weight * coef
    alpha = alpha * signs
    return alpha

In [8]:
# pandas
def get_returns(data):
    return (data / data.shift(1)) - 1

In [9]:
def ranking(alpha):
    alpha = scipy.stats.rankdata(alpha, method='ordinal') / (len(alpha) - 1)
    return alpha

In [10]:
def cut_outliers(alpha, coef=0.01):
    alpha[alpha < np.quantile(alpha, coef)] = 0
    alpha[alpha > np.quantile(alpha, 1 - coef)] = 0
    return alpha

In [11]:
def cut_middle(alpha, coef=0.01):
    alpha[(alpha < np.quantile(alpha, 0.5 + coef)) & (alpha > np.quantile(alpha, 0.5 - coef))] = 0
    return alpha

In [12]:
def turnover(alphas, option=0):
    turnover_days = abs(alphas.diff(periods=1)).sum(axis=1)
    if option == 1:
        return turnover_days
    return turnover_days.groupby(alphas.index.year).mean()

In [13]:
def get_sharpe_coef(days_pnl):
    ans = pd.DataFrame()
    ans['coef_sharpe'] = days_pnl.groupby(days_pnl.index.year).apply(lambda x : np.sqrt(len(x) - 1) * np.mean(x) / np.std(x))
    return ans

In [14]:
def get_drawdown_t_2(pnl_cum):
    pnl_cum_index =  pnl_cum.index
    pnl_cum = np.array(pnl_cum)
    max_drawdown = -1
    for i in range(0, len(pnl_cum)):
        for j in range(i + 1, len(pnl_cum)):
            if ((pnl_cum[i] - pnl_cum[j]) / pnl_cum[i] > max_drawdown) and (pnl_cum[i] - pnl_cum[j]) > 0:
                if (pnl_cum[i] - pnl_cum[j]) / pnl_cum[i] != np.inf:
                    max_drawdown = (pnl_cum[i] - pnl_cum[j]) / pnl_cum[i]
                    days_i = i
                    days_j = j
    return max_drawdown, pnl_cum_index[days_i].strftime("%d.%m.%Y"), pnl_cum_index[days_j].strftime("%d.%m.%Y")

In [15]:
def get_drawdown_years(pnl_cum):
    return pnl_cum.groupby(pnl_cum.index.year).apply(lambda x: get_drawdown_t_2(x))

In [16]:
def get_pnl(data_returns, alpha, option=0):
    data_returns = data_returns.iloc[2:]
    pnl = alpha.reset_index(drop=True).mul(data_returns.reset_index(drop=True), axis=0).sum(axis=1)
    ans = pd.DataFrame()
    ans['pnl'] = pnl
    ans = ans.set_index(alpha.index).shift(2)
    if option == 1:
        return ans.set_index(alpha.index).groupby(alpha.index.year).sum()
    return ans

##### Generate alpha and statistics

In [17]:
def alpha_stats(data_returns, alpha):
    days_pnl = get_pnl(data_returns, alpha)['pnl']
    returns_table = pd.DataFrame()
    returns_table['years_pnl_cum'] = get_pnl(data_returns, alpha, 1)
    returns_table['turnover'] = turnover(alpha)
    returns_table['sharpe_coef'] = get_sharpe_coef(days_pnl)
    returns_table['drawdown'] = get_drawdown_years(days_pnl.cumsum()).apply(lambda x: x[0])
    returns_table['drawdown_day_start'] = get_drawdown_years(days_pnl.cumsum()).apply(lambda x: x[1])
    returns_table['drawdown_day_end'] = get_drawdown_years(days_pnl.cumsum()).apply(lambda x: x[2])
    return returns_table

In [18]:
def generate_alphas(data, data_returns, algh_alpha, max_n=1, cut_middle_coef=0, cut_outliers_coef=0):
    for n in range(1, max_n + 1):
        print('n =', n)
        print(alpha_stats(data_returns, algh_alpha(data, n, cut_middle_coef=0, cut_outliers_coef=0)))
        print()
    
    print('CUT_MIDDLE_COEF =', cut_middle_coef)
    for n in range(1, max_n + 1):
        print('n =', n)
        print(alpha_stats(data_returns, algh_alpha(data, n, cut_middle_coef, cut_outliers_coef=0)))
        print()

    print('CUT_MIDDLE_COEF =', cut_middle_coef, 'CUT_OUTLIERS_COEF =', cut_outliers_coef)
    for n in range(1, max_n + 1):
        print('n =', n)
        print(alpha_stats(data_returns, algh_alpha(data, n, cut_middle_coef, cut_outliers_coef)))
        print()

##### Alpha: reversion
$$ \alpha(d - 2) = -\left({close(d - 2) \over close(d - (2 + n))} - 1\right) $$
$$ return(d) = \left({close(d) \over close(d - 1)} - 1\right) $$
$$ pnl(d) = \alpha(d - 2) * return(d)$$

In [19]:
def algh_alpha_reversion(data, n=1, cut_middle_coef=0, cut_outliers_coef=0):
    kernel = -(data / data.shift(n) - 1)
    alpha = kernel.T.apply(lambda x: cut_outliers(x, cut_outliers_coef)).apply(lambda x: cut_middle(x, cut_middle_coef)).apply(neutralize).apply(normalize).T
    return alpha

In [20]:
generate_alphas(data, data_returns, algh_alpha_reversion,max_n=6, cut_middle_coef=0.01, cut_outliers_coef=0.01)

n = 1
      years_pnl_cum  turnover  sharpe_coef  drawdown drawdown_day_start drawdown_day_end
date
2010       0.130275  1.439132     1.912082  0.823051         07.01.2010       08.01.2010
2011       0.093834  1.450142     0.957710  0.399017         13.07.2011       22.08.2011
2012       0.102873  1.453622     2.128993  0.147839         21.05.2012       17.07.2012
2013       0.063022  1.455579     1.453953  0.061170         19.03.2013       17.04.2013
2014      -0.002831  1.451279    -0.055071  0.179565         03.09.2014       15.12.2014

n = 2
      years_pnl_cum  turnover  sharpe_coef  drawdown drawdown_day_start drawdown_day_end
date
2010       0.128244  1.008131     2.127506  7.522309         11.01.2010       29.01.2010
2011       0.153952  1.016436     1.656729  0.397824         03.01.2011       14.01.2011
2012       0.121267  1.018992     2.791367  0.048293         23.02.2012       02.03.2012
2013       0.064224  1.017035     1.371093  0.070731         09.08.2013       05.11.2013
2014       0.039902  1.013812     0.702720  0.140051         03.09.2014       15.12.2014

n = 3
      years_pnl_cum  turnover  sharpe_coef  drawdown drawdown_day_start drawdown_day_end
date
2010       0.145787  0.819184     2.435533  0.732073         09.02.2010       16.02.2010
2011       0.133738  0.835831     1.485280  0.437792         03.01.2011       18.01.2011
2012       0.149372  0.829978     3.293543  0.054980         23.02.2012       19.03.2012
2013       0.053766  0.826648     1.142786  0.069387         09.08.2013       05.11.2013
2014       0.069815  0.828041     1.192930  0.111843         30.07.2014       12.12.2014

n = 4
      years_pnl_cum  turnover  sharpe_coef   drawdown drawdown_day_start drawdown_day_end
date
2010       0.126129  0.706664     2.256884  21.304240         21.01.2010       29.01.2010
2011       0.132089  0.718218     1.540443   0.585626         03.01.2011       11.02.2011
2012       0.127581  0.720546     2.817036   0.071676         10.09.2012       04.10.2012
2013       0.067029  0.713593     1.454566   0.059345         09.08.2013       04.10.2013
2014       0.065675  0.710721     1.060956   0.095239         04.08.2014       15.12.2014

n = 5
      years_pnl_cum  turnover  sharpe_coef  drawdown drawdown_day_start drawdown_day_end
date
2010       0.161662  0.626295     2.871105  6.998313         14.01.2010       29.01.2010
2011       0.154295  0.647937     1.913424  0.317183         03.01.2011       14.02.2011
2012       0.123747  0.639653     2.905585  0.052283         09.03.2012       10.04.2012
2013       0.093617  0.636498     2.039114  0.033503         09.08.2013       07.10.2013
2014       0.055797  0.633862     0.878671  0.096114         22.10.2014       15.12.2014

n = 6
      years_pnl_cum  turnover  sharpe_coef   drawdown drawdown_day_start drawdown_day_end
date
2010       0.129644  0.575495     2.213546  17.673858         20.01.2010       29.01.2010
2011       0.182180  0.591056     2.100755   0.428352         03.01.2011       14.01.2011
2012       0.134062  0.582352     3.252490   0.043999         06.01.2012       20.01.2012
2013       0.078544  0.579642     1.711680   0.040913         23.05.2013       24.06.2013
2014       0.050116  0.574971     0.753602   0.098792         12.08.2014       15.12.2014

CUT_MIDDLE_COEF = 0.01
n = 1
      years_pnl_cum  turnover  sharpe_coef  drawdown drawdown_day_start drawdown_day_end
date
2010       0.128806  1.433122     1.916126  0.822963         07.01.2010       08.01.2010
2011       0.093678  1.443010     0.972043  0.390275         13.07.2011       22.08.2011
2012       0.101954  1.448181     2.127977  0.147595         21.05.2012       17.07.2012
2013       0.063291  1.450554     1.473241  0.060153         19.03.2013       17.04.2013
2014      -0.002594  1.446499    -0.050801  0.178878         03.09.2014       15.12.2014

n = 2
      years_pnl_cum  turnover  sharpe_coef  drawdown drawdown_day_start drawdown_day_end
date
2010       0.126451  1.006792     2.123974  7.502066         11.01.2010       29.01.2010
2011       0.150373  1.015113     1.644172  0.402664         03.01.2011       14.01.2011
2012       0.119512  1.017153     2.772275  0.049005         23.02.2012       02.03.2012
2013       0.063839  1.015189     1.373881  0.071665         09.08.2013       05.11.2013
2014       0.039801  1.011947     0.704712  0.140338         03.09.2014       15.12.2014

n = 3
      years_pnl_cum  turnover  sharpe_coef  drawdown drawdown_day_start drawdown_day_end
date
2010       0.142092  0.820154     2.411952  0.729669         09.02.2010       16.02.2010
2011       0.130443  0.837319     1.468855  0.448341         03.01.2011       18.01.2011
2012       0.147347  0.830208     3.277646  0.055969         23.02.2012       19.03.2012
2013       0.052941  0.826703     1.133527  0.070640         09.08.2013       05.11.2013
2014       0.070134  0.827904     1.205467  0.112138         30.07.2014       12.12.2014

n = 4
      years_pnl_cum  turnover  sharpe_coef   drawdown drawdown_day_start drawdown_day_end
date
2010       0.124222  0.709658     2.253780  20.974699         21.01.2010       29.01.2010
2011       0.126442  0.721706     1.498048   0.593676         03.01.2011       11.02.2011
2012       0.125435  0.721987     2.792604   0.073774         10.09.2012       04.10.2012
2013       0.066358  0.714852     1.448988   0.060155         09.08.2013       04.10.2013
2014       0.065352  0.711632     1.062575   0.096124         04.08.2014       15.12.2014

n = 5
      years_pnl_cum  turnover  sharpe_coef  drawdown drawdown_day_start drawdown_day_end
date
2010       0.157573  0.630527     2.843797  7.026119         19.01.2010       29.01.2010
2011       0.150982  0.652465     1.898740  0.326137         03.01.2011       14.02.2011
2012       0.122271  0.641798     2.894960  0.053014         09.03.2012       10.04.2012
2013       0.092538  0.638725     2.030009  0.033982         09.08.2013       07.10.2013
2014       0.055534  0.635563     0.878919  0.096957         22.10.2014       15.12.2014

n = 6
      years_pnl_cum  turnover  sharpe_coef   drawdown drawdown_day_start drawdown_day_end
date
2010       0.127471  0.580219     2.209891  18.162793         20.01.2010       29.01.2010
2011       0.177839  0.596734     2.074773   0.434784         03.01.2011       14.01.2011
2012       0.133026  0.585095     3.252884   0.044714         06.01.2012       20.01.2012
2013       0.078100  0.582700     1.713233   0.041517         23.05.2013       24.06.2013
2014       0.049279  0.577517     0.744638   0.100278         12.08.2014       15.12.2014

CUT_MIDDLE_COEF = 0.01 CUT_OUTLIERS_COEF = 0.01
n = 1
      years_pnl_cum  turnover  sharpe_coef  drawdown drawdown_day_start drawdown_day_end
date
2010       0.076018  1.415453     1.532230  1.353736         08.01.2010       29.01.2010
2011       0.061204  1.420659     0.819935  0.561833         11.07.2011       22.08.2011
2012       0.035504  1.429271     0.904197  0.123263         23.02.2012       22.03.2012
2013       0.017278  1.435898     0.609705  0.121452         04.02.2013       03.06.2013
2014      -0.010224  1.430095    -0.249315  0.260480         03.09.2014       15.12.2014

n = 2
      years_pnl_cum  turnover  sharpe_coef    drawdown drawdown_day_start drawdown_day_end
date
2010       0.095666  1.046779     1.989416  166.188708         12.01.2010       29.01.2010
2011       0.108583  1.054188     1.609728    0.257239         02.06.2011       08.08.2011
2012       0.062078  1.060253     1.725675    0.068286         21.06.2012       17.07.2012
2013       0.029874  1.060762     0.978532    0.079909         30.01.2013       03.04.2013
2014       0.030232  1.058643     0.670280    0.195761         24.09.2014       15.12.2014

n = 3
      years_pnl_cum  turnover  sharpe_coef   drawdown drawdown_day_start drawdown_day_end
date
2010       0.094969  0.877479     1.914343  21.171381         12.01.2010       29.01.2010
2011       0.110577  0.893641     1.480639   0.277771         30.06.2011       08.08.2011
2012       0.123332  0.889505     3.456138   0.066413         23.02.2012       15.03.2012
2013       0.033943  0.888657     1.191840   0.059019         30.01.2013       17.04.2013
2014       0.046170  0.890031     0.989773   0.138795         02.09.2014       15.12.2014

n = 4
      years_pnl_cum  turnover  sharpe_coef  drawdown drawdown_day_start drawdown_day_end
date
2010       0.077237  0.770434     1.694207  9.768557         14.01.2010       29.01.2010
2011       0.111895  0.782742     1.583531  0.434716         03.01.2011       18.01.2011
2012       0.107223  0.787243     2.968794  0.080738         27.02.2012       10.04.2012
2013       0.051730  0.782783     1.848497  0.036025         05.02.2013       03.04.2013
2014       0.047681  0.779768     0.999519  0.106405         03.09.2014       16.12.2014

n = 5
      years_pnl_cum  turnover  sharpe_coef   drawdown drawdown_day_start drawdown_day_end
date
2010       0.120556  0.691794     2.618182  68.238078         13.01.2010       29.01.2010
2011       0.148680  0.715438     2.276565   0.217276         29.07.2011       08.08.2011
2012       0.092186  0.708607     2.620238   0.060817         09.03.2012       10.04.2012
2013       0.057104  0.706900     1.965481   0.042770         03.05.2013       03.06.2013
2014       0.023579  0.704062     0.478517   0.125548         12.08.2014       15.12.2014

n = 6
      years_pnl_cum  turnover  sharpe_coef   drawdown drawdown_day_start drawdown_day_end
date
2010       0.089316  0.642344     1.921372  75.165606         14.01.2010       29.01.2010
2011       0.137266  0.660383     1.917492   0.311238         03.01.2011       18.01.2011
2012       0.105716  0.651780     3.085340   0.054863         04.05.2012       18.05.2012
2013       0.040765  0.650162     1.434946   0.052612         03.05.2013       24.06.2013
2014       0.005249  0.645406     0.103698   0.152527         14.07.2014       15.12.2014