In [1]:
import pandas as pd
import numpy as np

In [2]:
import tkinter as Tk
from tkinter import *
from tkinter import messagebox

In [3]:
T = 0.25
S = 100
r = 0.06
sigma = 0.3
u = 1.0395
d = 0.962
p = 0.4
q = 0.6
n = 15
STRIKE = 100
k = 7

price of the underlying asset

In [4]:
def get_S(S_0, n):
    data_S = pd.DataFrame(np.zeros((n + 1, n + 1)))
    data_S.iloc[0, 0] = S_0
    for j in range(n + 1):
        for i in range(j, n + 1):
            data_S.iloc[j, i] = S * np.power(u, j) * np.power(d, i - j)
    return data_S

In [5]:
data_S = get_S(100, 15)

In [6]:
data_S

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,100.0,96.20,92.544400,89.027713,85.644660,82.390163,79.259336,76.247482,73.350077,70.562774,67.881389,65.301896,62.820424,60.433248,58.136785,55.927587
1,0.0,103.95,99.999900,96.199904,92.544307,89.027624,85.644574,82.390080,79.259257,76.247405,73.350004,70.562704,67.881321,65.301831,62.820361,60.433188
2,0.0,0.00,108.056025,103.949896,99.999800,96.199808,92.544215,89.027535,85.644488,82.389998,79.259178,76.247329,73.349931,70.562633,67.881253,65.301766
3,0.0,0.00,0.000000,112.324238,108.055917,103.949792,99.999700,96.199711,92.544122,89.027446,85.644403,82.389915,79.259099,76.247253,73.349857,70.562563
4,0.0,0.00,0.000000,0.000000,116.761045,112.324126,108.055809,103.949688,99.999600,96.199615,92.544030,89.027357,85.644317,82.389833,79.259019,76.247177
5,0.0,0.00,0.000000,0.000000,0.000000,121.373107,116.760929,112.324013,108.055701,103.949584,99.999500,96.199519,92.543937,89.027268,85.644231,82.389751
6,0.0,0.00,0.000000,0.000000,0.000000,0.000000,126.167344,121.372985,116.760812,112.323901,108.055593,103.949480,99.999400,96.199423,92.543845,89.027179
7,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,131.150954,126.167218,121.372864,116.760695,112.323789,108.055485,103.949376,99.999300,96.199327
8,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,136.331417,131.150823,126.167092,121.372743,116.760578,112.323676,108.055377,103.949272
9,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,141.716508,136.331281,131.150692,126.166966,121.372621,116.760462,112.323564
10,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,147.314310,141.716366,136.331145,131.150561,126.166840,121.372500
11,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,153.133226,147.314163,141.716225,136.331008,131.150430
12,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,159.181988,153.133072,147.314016,141.716083
13,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,165.469676,159.181829,153.132919
14,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,172.005729,165.469511
15,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,178.799955

price of the eur option

In [8]:
def get_payoff(S, STRIKE):
    return max(S - STRIKE, 0)

In [17]:
[get_payoff(data_S.iloc[i, 15], STRIKE) for i in range(n)]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3.9492723521830015,
 12.323564043757017,
 21.372499816512914,
 31.150429895286067,
 41.716083031340844,
 53.13291924228565,
 65.469510969185]

In [21]:
def get_price_call_option(n, r, T, STRIKE):
    data_eur_option = pd.DataFrame(np.zeros(data_S.shape))
    data_eur_option[15] = [get_payoff(data_S.iloc[i, 15], STRIKE) for i in range(n + 1)]
    for j in range(n):
        for i in range(n - j, 0, -1):
            data_eur_option.iloc[i - 1, n - j - 1] = np.exp(-r * (T / n)) * (p * data_eur_option.iloc[i, n - j] + q * data_eur_option.iloc[i - 1, n - j])
    return data_eur_option

In [22]:
data_eur_option = get_price_call_option(n, r, T, STRIKE)

In [23]:
data_eur_option

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,2.028337,1.267236,0.729773,0.378341,0.170421,0.062921,0.017053,0.002568,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,3.175062,2.076599,1.258747,0.691167,0.332097,0.131880,0.038823,0.006425,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,4.830699,3.308570,2.113265,1.231502,0.633253,0.271796,0.087516,0.016079,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,7.125975,5.109803,3.441197,2.131956,1.177021,0.548896,0.194890,0.040239,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,10.168057,7.625493,5.413665,3.569691,2.122153,1.081278,0.427355,0.100698,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,14.007336,10.962309,8.193167,5.749926,3.688773,2.064866,0.918410,0.251996,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.609911,15.143441,11.878522,8.856038,6.133860,3.789715,1.920329,0.630621,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.856165,20.078697,16.441960,12.961455,9.665420,6.603273,3.859694,1.578130,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,29.582037,25.584024,21.703844,17.937928,14.282817,10.735157,7.291694,3.949272
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.653048,31.468287,27.407004,23.465461,19.640032,15.927203,12.323564
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,42.019367,37.638922,33.387870,29.262296,25.258401,21.372500
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,48.695136,44.109643,39.659743,35.341332,31.150430
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,55.695175,50.894821,46.236558,41.716083
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,63.035013,58.009517,53.132919
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,70.730922,65.469511
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,78.799955

price of the american option

In [22]:
def get_amer_price_call_option(n, r, T):
    data_amer_option = pd.DataFrame(np.zeros(data_S.shape))
    data_amer_option[15] = data_eur_option[15]
    
    for j in range(n):
        for i in range(n - j, 0, -1):
            first_part = np.exp(-r * (T / n)) * (p * data_amer_option.iloc[i, n - j] + q * data_amer_option.iloc[i - 1, n - j])
            second_part = get_payoff(data_S.iloc[i - 1, n - j - 1])
            data_amer_option.iloc[i - 1, n - j - 1] = max(first_part, second_part)
    return data_amer_option

In [23]:
data_amer_option = get_amer_price_call_option(n, r, T)

In [24]:
data_amer_option

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,3.036997,1.738369,0.927824,0.450281,0.191559,0.067367,0.017549,0.002568,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,4.992536,2.958535,1.646459,0.839490,0.378326,0.142261,0.040065,0.006425,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,8.056025,4.934049,2.861032,1.533335,0.733368,0.295911,0.090626,0.016079,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,12.324238,8.055917,4.859733,2.737120,1.391388,0.604580,0.202672,0.040239,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,16.761045,12.324126,8.055809,4.762564,2.575080,1.208956,0.446828,0.100698,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,21.373107,16.760929,12.324013,8.055701,4.630708,2.355173,0.967140,0.251996,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,26.167344,21.372985,16.760812,12.323901,8.055593,4.443113,2.042274,0.630621,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.150954,26.167218,21.372864,16.760695,12.323789,8.055485,4.164862,1.578130,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,36.331417,31.150823,26.167092,21.372743,16.760578,12.323676,8.055377,3.949272
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,41.716508,36.331281,31.150692,26.166966,21.372621,16.760462,12.323564
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,47.314310,41.716366,36.331145,31.150561,26.166840,21.372500
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,53.133226,47.314163,41.716225,36.331008,31.150430
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,59.181988,53.133072,47.314016,41.716083
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,65.469676,59.181829,53.132919
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,72.005729,65.469511
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,78.799955

Futures

In [14]:
def get_price_futures(k):
    data_futures = pd.DataFrame(np.zeros(( k + 1, k + 1)))
    data_futures[k] = data_S[k]
    for j in range(k):
        for i in range(k - j, 0, -1):
            data_futures.iloc[i - 1, k - j - 1] = (p * data_futures.iloc[i, k - j] + q * data_futures.iloc[i - 1, k - j])
    return data_futures

In [15]:
data_futures = get_price_futures(k)

In [16]:
data_futures

,0,1,2,3,4,5,6,7
0,95.201708,92.229651,89.350376,86.560989,83.858682,81.240737,78.704521,76.247482
1,0.000000,99.659794,96.548562,93.534458,90.614449,87.785599,85.045062,82.390080
2,0.000000,0.000000,104.326642,101.069718,97.914470,94.857724,91.896405,89.027535
3,0.000000,0.000000,0.000000,109.212029,105.802590,102.499589,99.299702,96.199711
4,0.000000,0.000000,0.000000,0.000000,114.326187,110.757092,107.299418,103.949688
5,0.000000,0.000000,0.000000,0.000000,0.000000,119.679830,115.943602,112.324013
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,125.284173,121.372985
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,131.150954

Option on futures

In [25]:
def get_price_option_on_futures(k):
    data_option_on_futures = pd.DataFrame(np.zeros(data_futures.shape))
    data_option_on_futures[k] = list(map(get_payoff, data_futures[k]))

    for j in range(k):
        for i in range(k - j, 0, -1):
            first_part = np.exp(-r * (T / k)) * (p * data_option_on_futures.iloc[i, k - j] + q * data_option_on_futures.iloc[i - 1, k - j])
            second_part = get_payoff(data_futures.iloc[i - 1, k - j - 1])
            data_option_on_futures.iloc[i - 1, k - j - 1] = max(first_part, second_part)
    return data_option_on_futures

In [26]:
data_option_on_futures = get_price_option_on_futures(k)

In [27]:
data_option_on_futures

,0,1,2,3,4,5,6,7
0,2.111914,1.076081,0.425353,0.100249,0.000000,0.000000,0.000000,0.000000
1,0.000000,3.676989,2.057944,0.915290,0.251160,0.000000,0.000000,0.000000
2,0.000000,0.000000,6.125274,3.782963,1.916393,0.629248,0.000000,0.000000
3,0.000000,0.000000,0.000000,9.671591,6.603105,3.857389,1.576493,0.000000
4,0.000000,0.000000,0.000000,0.000000,14.326187,10.757092,7.299418,3.949688
5,0.000000,0.000000,0.000000,0.000000,0.000000,19.679830,15.943602,12.324013
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,25.284173,21.372985
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.150954